{% extends 'catalog/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Сброс пароля</div>
                <div class="card-body">
                    <p>Пожалуйста, введите вашу электронную почту, чтобы получить ссылку для сброса пароля.</p>
                    <form action="{% url 'users:reset_password' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Отправить</button>
                    </form>
                </div>
                <div class="card-footer">Вам будет отправлено электронное письмо с инструкциями, если аккаунт с такой
                    почтой существует.
                </div>
            </div>
        </div>
    </div>

{% endblock %}


