{% extends 'catalog/base.html' %}

{% block content %}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">Запрос на сброс пароля отправлен</div>
            <div class="card-body">
                <p>Если аккаунт с указанным адресом электронной почты существует в нашей системе, мы отправили письмо с инструкциями по сбросу пароля.</p>
                <p>Пожалуйста, проверьте вашу почту, включая папку со спамом, для дальнейших инструкций.</p>
                <a href="{% url 'users:login' %}" class="btn btn-primary">Вернуться на страницу входа</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}