{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Skystore</h1>
        <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
            продать</p>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
            <a class="btn btn-primary mb-1" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for object in object_list %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ object.title }}</h4>
                            <span class="text-muted">Продавец: {{ object.owner|default:"Нет" }}</span>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ object.price }}<small
                                    class="text-body-secondary fw-light"> руб.</small></h1>
                            <img src="{% mediapath object.photo %}" class="card-img-top" alt="Нет изображения">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>{{ object.description|truncatechars:100 }}</li>
                            </ul>
                            {% if user.is_authenticated %}
                                <a href="{% url 'catalog:product' object.id %}"
                                   class="w-100 btn btn-lg btn-outline-primary">Подробнее</a>
                                {% if perms.catalog.change_product or object.owner == request.user %}
                                    <a href="{% url 'catalog:product_update' object.id %}"
                                       class="w-100 btn btn-lg btn-outline-primary">Изменить</a>
                                {% endif %}
                                {% if user.is_superuser or object.owner == request.user %}
                                    <a href="{% url 'catalog:product_delete' object.id %}"
                                       class="w-100 btn btn-lg btn-outline-primary">Удалить</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}