{% extends 'catalog/base.html' %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ object.title | title }}</h1>
        <p class="lead">Краткое описание продукта {{ object.title }}</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }}<small
                            class="text-body-secondary fw-light"> руб.</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ object.description }}</li>
                        <li>{{ object.description }}</li>
                        <li>Категория товара - {{ object.category }}</li>
                        <li>Дата создания - {{ object.created_at }}</li>
                        <li>Дата пследнего изменения - {{ object.edited_at }}</li>
                    </ul>
                    <a href="{% url 'catalog:home' %}" class="w-100 btn btn-lg btn-outline-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}